<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بصيرة</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>بصيرة</h1>
    <nav>
        <ul>
            <!-- Add a translate button here -->
            <li>
                <button id="translate-btn" class="btn btn-primary">EN</button>
            </li>
        </ul>
    </nav>
</header>


    <main>
        <h2>المخزون</h2>
        <p>: يوجد في ثلاجتك</p>

        <div id="container">
            <!-- Inventory items will be displayed here -->
          <div>{{ table | safe }}</div>
          </div>
    </main>

    <footer>
      <p>© 2024 تطبيق بصيرة.كل الحقوق محفوظة </p>
      <div class="d-flex justify-content-around p-3">
              <a href="{{ url_for('index') }}" class="btn btn-light text-dark d-flex flex-column align-items-center">
                <i class="fas fa-chart-line fa-2x mb-1"></i>
                <span class="small">التنبؤ بالمخزون</span>
              </a>
              <a href="/restaurantpage" class="btn btn-light text-dark d-flex flex-column align-items-center">
                <i class="fas fa-home fa-2x mb-1"></i>
                <span class="small">الصفحة الرئيسية</span>
              </a>
            </div>
    </footer>

      <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>